body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.options-container {
    background: lightgray;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
iframe {
    flex-grow: 1;
    width: 100%;
    border: none;
}