body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.options-container {
    background: lightgray;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.po-item-info {
    display: none;
    font-weight: bold;
    text-indent: 5px;
    background: lightgoldenrodyellow;
}

.item-disclaimer {
    font-size: 0.85em;
    font-style: italic;
    color: #666;
    margin-left: 8px;
    border-left: 1px solid #ccc;
    padding-left: 8px;
}

iframe {
    flex-grow: 1;
    width: 100%;
    border: none;
}
